<div class='row form-group' ng-form='{{field}}' ng-class="{ 'has-error': {{field}}.$dirty && {{field}}.$invalid }">
    <label class='col-sm-2 control-label'> {{ field | labelCase }} <span ng-if='required'>*</span></label>
    
    <div class='col-sm-6' ng-switch='required'>
        <input ng-switch-when='true' ng-model='record[field][0]' type='{{record[field][1]}}' class='form-control' required ng-change='update()' ng-blur='blurUpdate()'/>
        
        <div class='input-group' ng-switch-default>
            <input ng-model='record[field][0]' type='{{record[field][1]}}' class='form-control' ng-change='update()' ng-blur='blurUpdate()'/>
            
            <span class='input-group-btn'>
                    <button class='btn btn-default' ng-click='remove(field)'><span class='glyphicon glyphicon-remove-circle'></span></button>
            </span>
        </div>
    </div>
    
    <div class='col-sm-4 has-error' ng-show='{{field}}.$dirty && {{field}}.$invalid' ng-messages='this[field].$error'>
        <p class='control-label' ng-message='required'>{{ field | labelCase }} is required.</p>
        
        <p class='control-label' ng-repeat='(key, value) in types' ng-message='{{key}}'>{{ field | labelCase}} {{value[1]}}</p>
    </div>
</div>