<h2>New Contact</h2>

<form name='newContact' novalidate class='form-horizontal'>
    <form-field record='contact' field='firstName' live='false' required='true'></form-field>
    <form-field record='contact' field='lastName' live='false' required='true'></form-field>
    
    <form-field ng-repeat='(key, value) in contact | keyFilter: "firstName" | keyFilter: "lastName" | keyFilter: "userId"' record='contact' field='{{key}}'></form-field>
    
    <div class='row form-group'>
        <div class='col-sm-offset-2'>
            <button class='btn btn-primary' ng-click='save()'>Create Contact</button>
        </div>
    </div>
</form>